/*##########Defaults##########*/
nav, header, footer {
    display: block;
}

body {
    line-height: 2;
    margin: 0;
    font-family: 'Roboto', sans-serif, serif;
    background-color: lightgray;
    text-align: center;
    color: #666666;
    text-shadow: 1px 1px 5px #a6a6a6;
    
}

.container {
    width: 100%;
    margin: auto;
    padding-top: 2%;
    padding-bottom: 2%;  
}

/*##########Navbar##########*/
nav {
    width: 100%;
    margin: 0;
}

nav ul {
    background-color: #0077b3;
    background: linear-gradient(to bottom right, #0077b3, #00aaff);
    overflow: hidden;
    margin: 0;
    padding: 0;
}

ul.topnav li {
    list-style: none;
    float: right;
}

ul.topnav li.topnav-left {
    float: left;
}

ul.topnav li a {
    display: block;
    text-decoration: none;
    color: white;
    min-height: 16px;
    text-align: center;
    padding: 14px;
    text-transform: uppercase;
    text-shadow: 3px 3px 5px black;
}

ul.topnav li a:hover {
    /*background-color:
    color:
    */
}

ul.topnav li.dropdownIcon {
    display: none;
}
/*##########Title##########*/

div#Title {
    color: white;
    text-shadow: 3px 3px 5px black;
    text-align: center;
}
    
    
section#TitleParent {
    background-image: url(../img/oregon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 150px;
    box-shadow: 3px 5px 3px darkgrey;
    border-bottom;
}
/*##########About Me##########*/
div#AboutMe1 {
    width: 92%;
    margin: inherit;
}

div#AboutMe2 {
    width: 92%;
    margin: inherit;

}
/*##########Education##########*/
div#Education1 {
    width: 92%;
    margin: inherit;
}

div#Education2 {
    width: 92%;
    margin: inherit;
    background-color: floralwhite;
    box-shadow: 3px 5px 3px darkgrey;
}

div#Education3 {
    width: 92%;
    margin: inherit;
    background-color: floralwhite;
    box-shadow: 3px 5px 3px darkgrey;
}
/*##########Technologies##########*/
div#Technologies2 img {
    padding: 20px;
    filter: drop-shadow(1px 1px 1px black);
}
/*##########Projects###########*/
.flexbox {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.flexbox div {
    background-color: floralwhite;
    padding: 0px;
    box-shadow: 3px 5px 3px darkgrey;
    width: 250px;
    height: 350px;
    margin: 25px;
}

.flexbox div img {
    filter: drop-shadow(1px 1px 1px black);
}
/*##########ContactMe***********/
section#ContactMe {
    background-color: #0077b3;
    background: linear-gradient(to bottom right, #0077b3, #00aaff);
    box-shadow: 3px 5px 3px darkgrey;
}

div#ContactMe {
    color: white;
    text-shadow: none;
    filter: drop-shadow(1px 1px 1px black);
}

div#Contact-Me img {
    filter: drop-shadow(1px 1px 1px black);
}

form input {
    background;
    border-radius: 7px;
}

form textarea {
    background;
    border-radius: 7px;
}

/*##########Mobile Responsiveness##########*/
@media screen and (max-width: 680px) {
/*##########Navbar##########*/
    ul.topnav li:not(:nth-child(6)) {
        display: none;
    }
    
    ul.topnav li.dropdownIcon {
        display: block;
    }
    
    ul.topnav.responsive li.dropdownIcon {
        position: absolute;
        top: 0;
        right: 0;
    }
    
    ul.topnav.responsive {
        position: relative;
    }
    
    ul.topnav.responsive li {
        display: inline;
        float: none;
    }
    
    ul.topnav.responsive li a {
        display: block;
        text-align: left;
    }
/*##########AboutMe##########*/
    div#AboutMe1 {
        width: 92%;
        float: none;
        margin: inherit;
    }
    div#AboutMe2 {
        width: 92%;
        float: none;
        margin: inherit;
    }
/*##########Education##########*/ 
    div#Education1 {
        width: 92%;
        float: none;
        margin: inherit;
    }
    
    div#Education2 {
        width: 92%;
        float: none;
        margin: inherit;
    }
    
    div#Education3 {
        width: 92%;
        float: none;
        margin: inherit;
    }
/*##########Projects##########*/
    .flexbox {
        flex-flow: column;

    } 

}



